site_name: Kelp-O-Matic
site_url: https://kelp-o-matic.readthedocs.io
repo_url: https://github.com/HakaiInstitute/kelp-o-matic
repo_name: HakaiInstitue/kelp-o-matic
edit_uri: /edit/main/docs

nav:
  - Home: index.md
  - Beginner Guide:
      - beginner_guide/index.md
      - Crash Course on the Terminal: beginner_guide/terminal_crash_course.md
      - Environment Setup and Installation: beginner_guide/install_env_setup.md
      - Processing Images: beginner_guide/execution.md
      - Post-Processing: beginner_guide/post_processing.md
  - Installation: installation.md
  - Data Requirements: expectations.md
  - Command Line Interface: cli.md
  - Python API: python_lib.md
  - About: about.md
  - FAQs: faqs.md
  - Issue Tracker: 'https://github.com/HakaiInstitute/kelp-o-matic/issues'

theme:
  name: material
  palette:
    primary: teal
  icon:
    logo: material/shore
  features:
    - navigation.indexes
    - navigation.instant
    - navigation.instant.prefetch
    - content.tabs.link
    - content.code.copy

extra:
  analytics:
    provider: google
    property: G-RSSQERRJ3Q
  social:
    - icon: fontawesome/brands/linkedin
      link: https://ca.linkedin.com/company/hakai-institute
    - icon: fontawesome/brands/instagram
      link: https://www.instagram.com/hakaiinstitute
  consent:
    title: Cookie consent
    description: >-
      We use cookies to recognize your repeated visits and preferences, as well
      as to measure the effectiveness of our documentation and whether users
      find what they're searching for. With your consent, you're helping us to
      make our documentation better.

watch:
  - src

markdown_extensions:
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.keys
  - pymdownx.tilde
  - tables
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.tasklist:
      custom_checkbox: true

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

plugins:
  - search:
      lang: en
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: google
