site_name: Kelp-O-Matic
site_url: https://hakai-segmentation.readthedocs.io
repo_url: https://github.com/HakaiInstitute/kelp-o-matic
repo_name: HakaiInstitue/kelp-o-matic

nav:
  - Home: index.md
  - Beginner Guide:
    - beginner_guide/index.md
    - Set-up and Installation: beginner_guide/setup.md
    - Running the Segmentation Tool: beginner_guide/execution.md
    - Post-Processing: beginner_guide/post_processing.md
  - Installation: installation.md
  - Data Expectations: expectations.md
  - Command Line Interface: cli.md
  - Python API: python_lib.md
  - About: about.md
  - Issue Tracker: 'https://github.com/HakaiInstitute/kelp-o-matic/issues'

theme:
  name: material
  palette:
    primary: teal
  icon:
    logo: material/shore
  features:
    - navigation.indexes

extra:
  analytics:
    provider: google
    property: G-RSSQERRJ3Q
  social:
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/HakaiGeospatial
    - icon: fontawesome/brands/instagram
      link: https://www.instagram.com/hakaiinstitute
    - icon: fontawesome/brands/linkedin
      link: https://ca.linkedin.com/company/hakai-institute


watch:
  - kelp_o_matic

markdown_extensions:
  - admonition
  - tables
  - def_list
  - footnotes
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.caret
  - pymdownx.tilde
  - pymdownx.keys
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

plugins:
  - search:
      lang: en
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: google
