[tool.poetry]
name = "kelp-o-matic"
version = "0.0.0"
description = "Hakai Segment Tool for GeoTiff RPAS Imagery"
authors = ["Taylor Denouden <taylor.denouden@hakai.org>"]
license = "MIT"
readme = "README.md"
documentation = "https://kelp-o-matic.readthedocs.io"
packages = [{ include = "kelp_o_matic" }]

[tool.poetry.scripts]
kom = "kelp_o_matic.cli:cli"

[tool.poetry.dependencies]
python = ">=3.9, <3.12"
numpy = "^1.24.2"
rasterio = "^1.3.7"
rich = "^13.5"
torch = "^2.1.1"
torchvision = "^0.16.1"
typer = "^0.9.0"

[tool.poetry.group.dev.dependencies]
black = "^23.3.0"
pre-commit = "^3.3.3"
ruff = "^0.0.272"
pytest = "^7.3.2"

[tool.poetry.group.docs.dependencies]
mkdocs = "^1.5.3"
mkdocs-material = "^9.5.2"
mkdocstrings-python = "^1.7.5"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
