[tool.poetry]
name = "kelp-o-matic"
version = "0.0.0"
description = "Hakai Segment Tool for GeoTiff RPAS Imagery"
authors = ["Taylor Denouden <taylor.denouden@hakai.org>"]
license = "MIT"
readme = "README.md"
documentation = "https://kelp-o-matic.readthedocs.io"
packages = [{ include = "kelp_o_matic" }]

[tool.poetry.scripts]
kom = "kelp_o_matic.cli:cli"

[tool.poetry.dependencies]
python = ">=3.9, <3.12"
numpy = "^1.24.2"
rasterio = "^1.3.7"
rich = "^13.5"
torch = [
    { version = ">=2.0.0, !=2.0.1", platform = "linux" },
    { version = "^2.0.0", markers = "sys_platform != 'linux'" },
]
torchvision = "^0.15.0"
typer = "^0.9.0"

[tool.poetry.group.dev.dependencies]
black = "^23.3.0"
pre-commit = "^3.3.3"
ruff = "^0.0.272"

[tool.poetry.group.test.dependencies]
pytest = "^7.3.2"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
