name: Build Conda Package

env:
  CACHE_NUMBER: 0  # increase to reset cache manually

on:
  workflow_call:
    inputs:
      should-upload:
        type: boolean
        required: false
        default: false
        description: Flag to upload to Anaconda
      python-version:
        type: string
        required: false
        default: "3.10"
        description: Python version to use
      os:
        type: string
        required: false
        default: "ubuntu-latest"
        description: System to use
    secrets:
      ANACONDA_TOKEN:
        required: true

jobs:
  build:
    runs-on: ${{ inputs.os }}
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Get tag
        id: tag
        run: echo "tag=${GITHUB_REF#refs/tags/v}" >> $GITHUB_ENV

      - name: Update version
        if: github.ref_type == 'tag'
        run: sed -i "s/0.0.0/${{ env.tag }}/g" kelp_o_matic/__init__.py

      - name: Build package
        uses: prefix-dev/rattler-build-action@v0.2.30
        with:
          recipe-path: conda/recipe.yaml
          upload-artifact: false

      - name: Publish package
        if: inputs.should-upload
        shell: bash
        env:
          ANACONDA_API_KEY: ${{ secrets.ANACONDA_TOKEN }}
        run: |
          shopt -s nullglob
          EXIT_CODE=0
          for pkg in $(find output -type f \( -name "*.conda" -o -name "*.tar.bz2" \) ); do
            if ! rattler-build upload anaconda -o hakai-institute -c main "${pkg}"; then
              EXIT_CODE=1
            fi
          done
          exit $EXIT_CODE
