name: Build Conda Package

env:
  CACHE_NUMBER: 0  # increase to reset cache manually

on:
  workflow_call:
    inputs:
      should-upload:
        type: boolean
        required: false
        default: false
        description: Flag to upload to Anaconda
      python-version:
        type: string
        required: false
        default: "3.10"
        description: Python version to use
      os:
        type: string
        required: false
        default: "ubuntu-latest"
        description: System to use
    secrets:
      ANACONDA_TOKEN:
        required: true

jobs:
  build:
    runs-on: ${{ inputs.os }}
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Get tag
        id: tag
        run: echo "tag=${GITHUB_REF#refs/tags/v}" >> $GITHUB_ENV

      - name: Update version
        if: github.ref_type == 'tag'
        run: sed -i "s/0.0.0/${{ env.tag }}/g" kelp_o_matic/__init__.py

      - name: Setup Mambaforge
        uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: ${{ inputs.python-version }}
          mamba-version: "*"
          channels: pytorch,nvidia,conda-forge,defaults
          channel-priority: true
          auto-update-conda: true
          activate-environment: my-env
          miniforge-variant: Mambaforge
          use-mamba: true

      - name: Install build packages
        run: mamba install -y anaconda-client conda-build conda-verify boa

      - name: Build package
        run: |
          cd conda
          mamba build --output-folder . .

      - name: Publish package
        if: inputs.should-upload
        env:
          ANACONDA_API_TOKEN: ${{ secrets.ANACONDA_TOKEN }}
        run: |
          cd conda
          anaconda upload --label main noarch/*.tar.bz2
