name: Build Conda Package

env:
  CACHE_NUMBER: 0  # increase to reset cache manually

on:
  workflow_call:
    inputs:
      should-upload:
        type: boolean
        required: false
        default: false
        description: Flag to upload to Anaconda
      python-version:
        type: string
        required: false
        default: "3.10"
        description: Python version to use
      os:
        type: string
        required: false
        default: "ubuntu-latest"
        description: System to use
    secrets:
      ANACONDA_TOKEN:
        required: true

jobs:
  build:
    runs-on: ${{ inputs.os }}
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Get tag
        id: tag
        run: echo "tag=${GITHUB_REF#refs/tags/v}" >> $GITHUB_ENV

      - name: Update version
        if: github.ref_type == 'tag'
        run: sed -i "s/0.0.0/${{ env.tag }}/g" kelp_o_matic/__init__.py

      - name: Setup Mamba
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-name: build-env
          create-args: >-
            python=${{ inputs.python-version }}
            rattler-build
            anaconda-client
            -c pytorch -c nvidia -c conda-forge
          cache-downloads: true
          cache-downloads-key: ${{ runner.os }}-${{ runner.arch }}-${{ env.CACHE_NUMBER }}
          init-shell: bash

      - name: Verify rattler-build installation
        run: rattler-build --version

      - name: Build package
        shell: micromamba-shell {0}
        run: |
          rattler-build build -r conda/recipe.yaml

      - name: Publish package
        if: inputs.should-upload
        shell: micromamba-shell {0}
        env:
          ANACONDA_API_TOKEN: ${{ secrets.ANACONDA_TOKEN }}
        run: |
          cd output
          anaconda upload --label main noarch/*.tar.bz2
